button {
    background-color: black;
    color: magenta;
    margin: 50px;
    font-size: large;
    padding: 50px;
}

h1 {
    margin-top: 50px;
    text-align: center;
}

h3,h5 {
    text-align: center;
}
.buttons {
    display: flex;
    justify-content: center;
}